@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.animatedButton{
  animation-duration: 10000ms;
}

.ql-container{
  border: none !important;
}
.ql-toolbar{
  border: none !important;
}
.ql-editor{
  border: none !important;
}

/* Custom styles for React Quill editor */
.ql-editor img {
  width: 100vw !important;
  height: 300px !important;
  object-fit: cover;
  border-radius: 10px;
}

.ql-editor iframe {
  width: 100% !important;
  height: 300px !important;
  border-radius: 10px;
}